#nav-admin {
  position: absolute;
  top: 88px;
  left: 5%;
  margin-left: 0.6rem;
  a {
    width: fit-content;
    border-radius: 20px 20px 0 0;
    padding: 5px 1rem;
    text-decoration: none;
    color: #000;
    background-color: var(--primary-beige-color);
  }
}
#admin {
  .input-admin {
    width: 100%;
  }
  @media (max-width: 500px) {
    overflow: scroll;
  }
  .edit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    form {
      gap: 0.5rem;
      input {
        height: 38px;
      }
      .input-admin {
        width: 100%;

      }
    }
    @media (min-width: 500px) {
      overflow: scroll;
    }
  }
  #edit-container-user {
    @media (min-width: 500px) {
      align-items: center;

    }
  }
  article {
    padding: 1rem;
    @media (min-width: 500px) {
      padding: 2rem;
    }
  }
  input,
  textarea {
    border-radius: 10px;
  }
  textarea {
    padding: 0.7rem;
  }
  label {
    margin-right: 1rem;
  }
  .btn-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .save-delete {
      display: flex;
      gap: 1rem;
    }
  }
}
.btn-container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  @media (min-width: 500px) {
    button:first-child {
      margin-right: 1rem;
    }
    display: unset;
  }
}
#create-msg,
#create-room,
#create-rule,
#create-user {
  margin: 0 auto;
}
#edit-msg-form,
#edit-room-form,
#edit-rule-form,
#edit-user-form {
  margin-bottom: 1rem;
  textarea {
    padding: 0.7rem;
  }
}
#search-user {
  align-items: center;
  margin: 2rem 0;
}
#user-form {
  div {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    justify-content: center;
    @media (min-width: 500px) {
      justify-content: flex-end;
    }
  }
  #role {
    width: 2rem;
  }
}
.input-label {
  font-size: 14px;
  font-weight: bold;
}