.room-details {
  border: solid black 1px;
  border-radius: 10px;
  background-color: var(--primary-grey-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem auto;
  min-height: 100px;
  width: 85%;
  h1,
  p {
    color: black;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
  }
  h1 {
    font-size: 20px;
  }
  @media (min-width: 600px) {
    width: 60%;
  }
}
.description-container {
  @media (min-width: 600px) {
    grid-column: 1 / span 2;
  }
}
#booking {
  overflow: scroll;
  @media (min-width: 500px) {
    overflow: unset;
  }
}
.calendar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.calendar-app {
  width: 320px;
  height: 360px;
  border: solid 1px black;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1rem auto;
}
.navigate-date {
  display: flex;
  position: relative;
  justify-content: space-around;
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
}
.heading {
  display: flex;
  gap: 1rem;
  width: 200px;
  justify-content: center;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1rem 0;
  span {
    text-align: center;
  }
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1rem;
  place-items: center;
  button {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:focus {
      border: dashed 1px var(--secondary-green-color);
    }
  }
}
.valid-days {
  background-color: var(--secondary-green-color);
  border-radius: 10px;
}
.valid-days-selected {
  border-radius: 10px;
  border: dashed 6px var(--tertiary-green-color);
}
.invalid-days {
  background-color: var(--primary-grey-color);
  border-radius: 10px;
}
.valid-days-with-booking {
  background: linear-gradient(
    140deg,
    var(--primary-red-color) 50%,
    var(--secondary-green-color) 50%
  );
  border-radius: 10px;
}
#current-day {
  box-shadow: 0 0 0 3px var(--primary-blue-color);
}
.booking-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 500px) {
    gap: 8rem;
  }
  margin-bottom: 1rem;
}
.timeslots-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timeslot,
.timeslot-selected,
.timeslot-invalid,
.timeslot-invalid-selected {
  width: 100px;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-green-color);
}
.timeslot-selected,
.timeslot-invalid-selected {
  border: dashed 2px var(--tertiary-green-color);
}
.timeslot-invalid,
.timeslot-invalid-selected {
  background-color: var(--primary-red-color);
}
.active-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 0.5rem;
  p strong {
    font-weight: bold;
  }
  .booking-data {
    display: flex;
    gap: 2rem;
    @media (max-width: 500px) {
      gap: 1rem;
      flex-direction: column;
    }
  }
}
.booking-msg {
    position: absolute;
    bottom: 120%;
    left: -28%;
    width: fit-content;
    @media (min-width: 500px) {
      left: -162%
    }
}
.booking-btn-container {
  position: relative;
}
