.landing {
  height: 80vh;
  width: 90vw;
  margin: 1.5rem auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  @media (min-width: 600px) {
    grid-template-columns: 0.7fr 1fr;
  }
}
#rules {
  background-color: #fcb07e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-landing {
  width: fit-content;
  border-radius: 20px 20px 0 0;
  margin-left: 2rem;
  padding: 5px 1rem;
  position: absolute;
  top: 83px;
  left: 5%;
  > a {
    border: none;
    font-size: 14px;
    color: black;
  }
}
.nav-rules {
  background-color: #fcb07e;

}
.nav-back {
  background-color: #ffffff;
  > button {
    background-color: #ffffff;
  }
}
.rules {
  overflow: scroll;
  height: 94%;
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 1rem;
  @media (min-width: 600px) {
    width: 97%;
    grid-template-columns: 1fr 1fr;
  }
  article {
    width: 100%;
    justify-self: center;
    margin: 0.5rem 0 1rem 0;
    @media (min-width: 500px) {
      width: 80%;
    }
    h2 {
      font-size: 1rem;
      font-weight: 800;
      border-bottom: solid 1px black;
      margin-bottom: 1rem;
      @media (min-width: 500px) {
        font-size: 24px;
      }
    }
    p {
      padding-top: 0.5rem;
      font-size: 14px;
      @media (min-width: 500px) {
        font-size: 22px;
      }
    }
  }
}
select {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: 200px;
}
.booking-form {
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.post-container {
  overflow: scroll;
  margin: 0 1rem;
  @media (min-width: 500px) {
    margin: 0 3rem;
  }
  @media (min-width: 700px){
    margin: 0 4rem;
  }
  > h2,
  h3,
  p {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }
  h2 {
    text-align: left;
    margin-top: 0.5rem;
  }
  .post {
    position: relative;
    border: solid black 2px;
    border-radius: 10px;
    padding: 1rem;
    background-color: #72c9ff;
    margin: 1rem 0;
  }
  > p {
    margin-top: 0.5rem;
  }
}
.post-date {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.logout{
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.message {
  text-align: center;
  border: dashed black 2px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2rem;
  margin: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  @media (min-width: 700px) {
    width: 50%;

  }
}