@import './css/home.css';
@import './css/booking.css';
@import './css/admin.css';
:root {
  --primary-grey-color: #C8C6D7;
  --primary-red-color: #FD1212;
  --primary-blue-color: #2c9ce2;
  --primary-green-color: #3AAD2B;
  --primary-beige-color: #FCB07E;
  --secondary-purple-color: #8A38F5;
  --secondary-green-color: #79B473;
  --tertiary-green-color: #0D4505;
}
#root {
    height: 100vh;
    position: relative;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.company-logo {
  position: relative;
  margin: 1rem;
}
h1 {
  color: #ffffff;
}
a {
  text-decoration: none;
}
input {
  width: 270px;
  height: 2rem;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
}
.login-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  justify-content: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.primary-btn, .primary-btn-booking, .primary-btn-green, .primary-btn-red {
  padding: 1rem 3rem;
  border-radius: 50px;
  border: 1px solid var(--primary-blue-color);
  color: #ffffff;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
#login, .primary-btn-green {
  background-color: var(--primary-green-color);
}
#btn-admin, .primary-btn-booking{
  background-color: var(--secondary-purple-color);
}
.primary-btn-red {
  background-color: var(--primary-red-color);
}
.reset {
height: 100vh;
display: grid;
place-items: center;
  form {
    display: flex;
    align-items: center;
  }
}